* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.nav {
  background-color: #5a83f5;
  width: 100%;
  height: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 34px;
}
.nav-con {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// index.html css
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  .input-con {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .input-con input {
    margin: 2px;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
  }
  .sel-con {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
  }
  .quz {
    padding: 10px 10px;
  }

  #sel {
    height: 29px;
    width: 82px;
  }
  .btn-con {
    display: flex;
    justify-content: center;
  }
  .nextPage {
    width: 50px;
    height: 29px;
    border: 2px solid whitesmoke;
    padding: 5px;
    outline: none;
    background-color: black;
    color: white;
  }
}
// index2.html css
.container-2 {
  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-size: 20px;
  background-color: #fff;
  .btn-con {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  .times-con {
    width: 31%;
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bolder;
  }

  .error-con {
    clip-path: circle(0px at 100% 30%);
    transition: 0.5s;
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    background: red;
    margin: 10px;
    color: white;
    border-radius: 6px;
  }
  .error-con.show {
    clip-path: circle(1500px at 100% 30%);
    transition: 0.5s;
  }
  .list {
    display: flex;
    flex-direction: column;

    padding: 20px;
  }
  .num-q {
    margin: 30px 0;
  }
  .overallcontianer2 {
    background-color: rgb(72, 140, 228);
    width: 80%;
    padding: 10px;
    border-radius: 10px;
  }
  .input-option {
    display: flex;
    flex-direction: column;
  }

  .next {
    width: 86px;
    height: 45px;
    color: white;

    background: darkgray;
    border: 2px solid slateblue;
  }
  .prev {
    width: 86px;
    height: 45px;
    color: white;

    background: darkgray;
    border: 2px solid slateblue;
  }
  .restart {
    width: 80px;
    border: 1px solid azure;

    outline: none;
    height: 40px;
    border-radius: 5px;
    padding: 4px;
    background: rgb(68, 129, 241);
    border: 1px solid whitesmoke;
  }
  .option {
    display: flex;
  }
  input {
    margin-right: 5px;
  }
  .name {
    font-size: 20px;
  }

  .score-con {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    border-radius: 10px;
  }
  .score {
    color: white;
    font-size: 30px;
    padding: 10px;
  }
}
